.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-inline: calc(var(--gutter) * 2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(-1 * var(--gutter));
}

.col {
    width: 100%;
    padding: var(--gutter);
}

[style*="--w"] {
    width: calc((100% / 12) * var(--w));
    max-width: calc((100% / 12) * var(--w));
}

@media (min-width: 576px){

    [style*="--w-sm"] {
        width: calc((100% / 12) * var(--w-sm));
        max-width: calc((100% / 12) * var(--w-sm));
    }
    
    .col-sm-1 {
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    .col-sm-2 {
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    .col-sm-3 {
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .col-sm-4 {
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .col-sm-5 {
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    .col-sm-6 {
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .col-sm-7 {
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    .col-sm-8 {
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    .col-sm-9 {
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    .col-sm-10 {
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    .col-sm-11 {
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    .col-sm-12 {
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

@media (min-width: 768px){
    [style*="--w-md"] {
        width: calc((100% / 12) * var(--w-md));
        max-width: calc((100% / 12) * var(--w-md));
    }
    .col-md-1 {
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    .col-md-2 {
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    .col-md-3 {
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .col-md-4 {
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .col-md-5 {
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    .col-md-6 {
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .col-md-7 {
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    .col-md-8 {
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    .col-md-9 {
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    .col-md-10 {
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    .col-md-11 {
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    .col-md-12 {
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

@media (min-width: 992px) {
    [style*="--w-lg"] {
        width: calc((100% / 12) * var(--w-lg));
        max-width: calc((100% / 12) * var(--w-lg));
    }
    .col-lg-1 {
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    .col-lg-2 {
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    .col-lg-3 {
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .col-lg-4 {
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .col-lg-5 {
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    .col-lg-6 {
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .col-lg-7 {
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    .col-lg-8 {
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    .col-lg-9 {
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    .col-lg-10 {
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    .col-lg-11 {
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    .col-lg-12 {
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

@media (min-width: 1024px) {
    [style*="--w-xl"] {
        width: calc((100% / 12) * var(--w-xl));
        max-width: calc((100% / 12) * var(--w-xl));
    }
    .col-xl-1 {
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    .col-xl-2 {
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    .col-xl-3 {
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .col-xl-4 {
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .col-xl-5 {
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    .col-xl-6 {
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .col-xl-7 {
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    .col-xl-8 {
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    .col-xl-9 {
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    .col-xl-10 {
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    .col-xl-11 {
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    .col-xl-12 {
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

@media (min-width: 1200px) {
    [style*="--w-xxl"] {
        width: calc((100% / 12) * var(--w-xxl));
        max-width: calc((100% / 12) * var(--w-xxl));
    }
}

