:root {
    --getter: 8px;
    --black: #171719;
    --gray: #bababf;
    --gray-d: #555562;
    --gray-l: #f1efee;
    --gray-bg: #F5F5F5;
    --white: #ffffff;
    --gray-t: #84848E;
    --smooth: all 0.3s ease-in;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* === Helper classes === */
.btn {
    padding: 12px 32px;
    background-color: var(--white);
    color: var(--black);
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 2px;
}
  
.btn:hover {
    cursor: pointer;
    background-color: var(--gray-l);
}

.d-flex {
    display: flex;
}

.flex-wide {
    flex: 1;
}

.d-none {
    display: none;
}

.p-relative {
    position: relative;
}

.juistify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.mg-t-container {
    margin-top: calc(25px - var(--getter) * 2);
}

.pd-section {
    padding: 20px 0px;
}

.heading {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: 0;
}

.heading-1{
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}

.heading-3{
    font-size: 20px;
    font-weight: 600;
}

.heading-4{
    font-size: 16px;
    font-weight: 600;
}

.heading-5{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: initial;
}
/* ======================== */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* === overlay === */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
  }
  
#overlay.show {
    display: initial;
}

/* === header === */
.header {
    color: var(--white);
    position: relative;
    z-index: 4;
}

.header__topbar {
    background-color: var(--black);
    padding: 0 15px;
}

.topbar__container {
    position: relative;
    width: 100%;
    height: 50px;   
    display: flex;
    align-items: center;
}

.topbar__heading {
    letter-spacing: 2px;
    color: var(--white);
    line-height: 100%;
    align-items: center;
}

.topbar-select {
    position: absolute;
    right: 0;
}

.topbar-select__img {
    margin-left: 9px;
    padding-bottom: 5px;
}

.topbar-select__heading {
    letter-spacing: 2px;
}

.topbar-select__option {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--white);
    color: var(--black);
}

.header__main {
    height: 70px;
    padding: 0 15px;
    background-color: var(--white);
}

.header__logo img {
    
}

.header__logo{
    padding: 15px 0;
}

.nav__items {
    display: flex;
    justify-content: space-between;
}


.nav__item {
    padding: 25px var(--getter);
    list-style: none;
}

.nav__items.nav__items--open{
    animation: var(--smooth);
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    top: 100%;
    border-top: solid 1px var(--gray-l);
    left: 0;
    right: 0;
    margin: 0;
    z-index: 5;
    box-shadow: inset 0px -1px 0px #ECECEC;
}
.navbar__links.navbar__open

.nav__item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav__item a {
    color: var(--black);
    text-decoration: none;
}

.menu__items {
    justify-content: space-between;
    align-items: center;
    width: 155px;
    height: 100%;
}

.menu__button {
    background-color: transparent;
    border: none;
}

/* ======================== */

/* === slider === */
.slider {
    padding-top: 50%; 
    background-image: url(../../assets/images/slider/Rectangle1.jpg);
    background-position: top;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 50px;
}

.slider__arrow img {
    cursor: pointer;
}
  
.slider__arrow--center {
    flex: 1;
}
  
.slider__content {
    bottom: 0;
    padding: 50px 0;
}
  
.slider__heading {
    color: var(--white);
    text-align: left;
    margin-bottom: 20px;
}

/* === Category === */
.category {
    margin-top: 20px;
}

.category img {
    width: 100%;
}

.category__container {

}

.category__btn {
    padding: initial;
    position: absolute;
    bottom: 30px;
    width: 125px;
    height: 50px;
}
/* ======================== */

/* === text-image === */
.text-image {
    
}

.text-image .row {
    background-color: var(--gray-bg);
}

.text-image__video {
    position: relative;
}

.text-image__img {
    width: 100%;
}

.text-image__video img{
    max-width: 100%;
    max-height: 100%;
}

.text-image__player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
}

.text-image__player:hover {
    cursor: pointer;
}

.text-image__content {
    padding: 60px 30px;
}

.text-image__heading {
    text-align: left;
    margin: 0px;
}

.text-image__content p {
    margin-bottom: 70px;
    color: var(--gray-t);
}

.text-image__btn {
    text-decoration: none;
}

/* ============================== */

/* === product === */
.product__croll {
    scroll-snap-type: x;
}

.product__wishlist {
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.product__wishlist:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.product__btn {
    border: solid 1px var(--black);
    margin-top: 20px;
}

.product__btn:hover {
    background-color: var(--gray-bg);
}

.product__name {
    color: var(--black);
    margin-top: 20px;
}

.product__rice {
    color: var(--gray-d);
    margin-top: 10px;
}

/* ================================= */

/* === banner === */
.banner {
    padding-top: 522px;
    background-image: url(../../assets/images/banner/banner2.jpg);
    background-position: top;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner__content {
    color: var(--white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner__heading {
    color: var(--white);
}

.banner__text {
    color: var(--gray);
    max-width: 327px;
    margin-top: 20px;
}

.banner__info {
    margin-top: 30px;
}

.banner__info img {
    margin-left: 10px;
}

.banner__info a {
    text-decoration: none;
    color: var(--white);
}

/* ====================== */

/* === partner === */
.partner {
    background-color: var(--gray-bg);
}

.partner__item {
    background-color: var(--white);
    padding: 50px 20px;
}

.partner__image {
    margin-bottom: 30px;
}

.partner__heading {
    margin-bottom: 5px;
}

.partner__text {
    text-align: center;
    color: var(--gray-t);
    margin-bottom: 30px;
}

.partner__info {

}

.partner__info a{
    text-decoration: none;
    color: var(--black);
    margin-right: 10px;
}
/* ====================== */

/* === footer === */
.footer {
    background-color: var(--black);
    color: var(--white);
}

.footer__logo {
    text-align: center;
    padding: 40px 0;
    border-bottom: solid 1px #313135;
}

.footer__heading {
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.footer__content {
    margin: 70px 0px;
}

.footer__content p {
    margin: 15px 0px;
}

.footer__content a {
    text-decoration: none;
    color: var(--gray-t);
    max-width: 215px;
}

.footer__input {
    background-color: #262628;
    margin-top: 15px;
    margin-bottom: 70px;
}

.footer__input form {
    display: flex;
    padding: 9px 10px 8px 10px;
    position: relative;
}

.footer__input input {
    background-color: #262628;
    color: var(--white);
    font-size: 14px;
    line-height: 1.71;
    border: none;
    flex: 1;
}

.footer__input input:focus {
    border: none;
}

.footer__input button {
    position: absolute;
    right: 10px;
    font-size: 14px;
    line-height: 1.71;
    background-color: #262628;
    color: var(--white);
    border: none;
}

.footer__input button:hover {
    cursor: pointer;
}

.social__items {
    margin-top: 30px;
}

.social__item {
    padding-right: 25px;
}

.footer__bottom p {
    padding: 23px 0;
    color: var(--gray-t);
    text-align: center;
}

/* ========================= */


/* === History === */


/* === brand === */
.brand {
    background-color: var(--gray-bg);
}
.brand__name{
    padding: 82px 0px;
    margin: 0px;
}
/* ======================= */


/* === video text === */

.video-text__heading {
    margin-top: 50px;
}

.video-text__text {
    max-width: 980px;
    text-align: center;
    color: var(--gray-t);
    margin: 0;
}
/* ======================= */

/* === list text image === */
.list-text-image {
    background-color: var(--gray-bg);
}

/* === responsive === */
@media (min-width: 576px) {
    :root {
        --getter: 10px;
    }
}

@media (min-width: 768px) {
    .topbar__container {
        justify-content: center;
    }
    .heading-1 {
        font-size: 30px;
    }
    .pd-section {
        padding: 50px 0;
    }
    .mg-t-container {
        margin-top: calc(45px - var(--getter) * 2);
    }
    .header__main {
        height: 110px;
        padding: 0 50px;
    }
    .header__topbar {
        padding: 0 50px;
    }

    .text-image__content {
        padding: 133px 90px;
    }

    .footer__logo {
        padding: 50px 0;
    }
    
}

@media (min-width: 992px) {
    .menu__button {
        display: none;
    }
}

@media (min-width: 1024px) {
    
}