@import url("../../assets/css/helper.css");
@import url("../../assets/css/layout.css");

:root {
    --gutter: calc(15px / 2);
    --black: #171719;
    --gray: #bababf;
    --gray-d: #555562;
    --gray-l: #f1efee;
    --gray-bg: #F5F5F5;
    --white: #ffffff;
    --gray-t: #84848E;
    --smooth: all 0.3s ease-in;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    line-height: 1.7;
    color: var(--gray-t);
    font-weight: 400;
    margin: 0;
    padding: 0;
}


.btn {
    padding: 12px 32px;
    background-color: var(--white);
    color: var(--black);
    border: none;
    letter-spacing: 2px;
}
  
.btn:hover {
    cursor: pointer;
    background-color: var(--gray-l);
}

.heading {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 2px;
    color: var(--black);
    margin: 0;
}

.heading-1{
    font-size: 2rem;
}

.heading-2{
    font-size: 1.8rem;
}

.heading-3{
    font-size: 2rem;
}

.heading-4{
    font-size: 1.4rem;
}

/* ======================== */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* === overlay === */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
    content: "";
  }
  
#overlay.show {
    display: initial;
}

/* === header === */
.header {
    color: var(--white);
    position: relative;
    z-index: 4;
    box-shadow: 0px 1px 0px 0px #ECECEC;
}

.header__topbar {
    background-color: var(--black);
    padding: 0 15px;
}

.topbar__container {
    position: relative;
    width: 100%;
    height: 50px;   
    display: flex;
    align-items: center;
}

.topbar__container p{
    color: var(--white);
}

.topbar-select {
    position: absolute;
    right: 0;
}

.topbar-select select {
    background: #171819;
    color: var(--white);
    border: none;
}

.topbar-select select:focus {
    border: none;
}

.header__main {
    height: 70px;
    padding: 0 15px;
    background-color: var(--white);
}

.header__left{
    padding: 15px 0;
}

.header__left img {
    height: 100%;
}

.nav__items {
    padding-left: 0px;
    justify-content: space-between;
}

.nav__items > li {
    line-height: 110px;
}

.nav__item {
    padding: 0 var(--gutter);
    list-style: none;
    display: block;
}

.nav__items.nav__items--open{
    transition: var(--smooth);
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    top: 100%;
    border-top: solid 1px var(--gray-l);
    left: 0;
    right: 0;
    margin: 0;
    z-index: 5;
    box-shadow: inset 0px -1px 0px #ECECEC;
}

.nav__items.nav__items--open li {
    line-height: initial;
    padding: 15px 0px;
    width: 100%;
}

.nav__items.nav__items--open a {
    padding: 0 15px;
}

.nav__items.nav__items--open li:hover{
    background-color: var(--gray-bg);
}


.nav__item a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
}

.menu__items {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-inline: -12px;
}

.menu__item {
    padding: 0 12px;
}

.menu__button {
    background-color: transparent;
    border: none;
}

.menu__button:hover {
    cursor: pointer;
}

/* === subnav === */
.header__nav > li{
    position: relative;
}

.subnav {
    display: none;
    position: absolute;
    top: 100%;
    transition: var(--smooth);
    background-color: var(--white);
    color: var(--black);
    min-width: 300px;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header__nav li:hover .subnav {
    display: block;
}

.subnav li a {
    display: block;
}

.subnav li:hover a {
    background-color: var(--gray-bg);
}

.subnav > li a{
    padding: 0 15px;
    line-height: 50px;
}

/* === slider === */
.slider {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
}

.slider__btn {
    text-decoration: none;
    display: inline-block;
}

.slider__arrow button {
    background-color: transparent;
    border: none;
}

.slider__arrow button:hover {
    cursor: pointer;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    z-index: 1;
}

.sliders img {
    width: 100%;
    height: calc(100vh - 120px);
    object-fit: cover;
}

.mySlides {
    display: none;
}

.slider__content {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
}
  
.slider__heading {
    color: var(--white);
    text-align: left;
    margin-bottom: 15px;
}

/* === Category === */
.category .category__btn {
    padding: initial;
    position: absolute;
    bottom: 10px;
    width: 125px;
    height: 50px;
    text-decoration: none;
}

/* === text-image === */
.text-image__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--gray-bg);
}

.text-image .row {
    background-color: var(--gray-bg);
}

.text-image__video {
    position: relative;
    height: 100%;
}

.text-image__video img{
    height: 100%;
}

.text-image__player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
}

.text-image__player:hover {
    cursor: pointer;
}

.text-image__context {
    top: 50%;
    transform: translateY(-50%);
    padding: 45px;
}

.text-image__heading {
    text-align: left;
    margin: 0px 0px 20px 0px;
}

.text-image__content {
    padding: 60px 30px;
}

.text-image__content p {
    margin-bottom: 70px;
    color: var(--gray-t);
}

.text-image__btn {
    text-decoration: none;
    display: inline-block;
    color: var(--black);
}

.text-image__btn a {
    display: inline-block;
}

/* === video === */
#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
    transition: var(--smooth);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1024px;
    max-height: 600px;
    transform: translate(-50%, -50%);
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 10;
    overflow: visible;
    transition: var(--smooth);
  }
  
  #light video {
    width: 100%;
    height: 100%;
  }

  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
    transition: var(--smooth);
  }
  
  .boxclose:before {
    content: "x";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  .test:hover ~ .test2 {
    display: none;
  }

/* === product === */
.product__items {
    padding-top: var(--gutter);
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-inline: -10px;
}

.product__items::-webkit-scrollbar {
    height: 0px !important;
}

.product__item {
    scroll-snap-align: start;
    padding: 0 10px;
}

.product__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
}

.product__wishlist {
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.product__wishlist:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.product__btn {
    border: solid 1px var(--black);
    padding: 8px 14px;
    margin-top: 20px;
}

.product__btn:hover {
    background-color: var(--gray-bg);
}

.product__name {
    color: var(--black);
    margin-top: 20px;
}

.product__rice {
    color: var(--gray-d);
    margin-top: 10px;
    display: block;
}

/* ================================= */

/* === banner === */
.banner {
    height: 522px;
    background-image: url(../../assets/images/banner/banner2.jpg);
    background-position: top;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .container {
    height: 100%;
}

.banner__heading {
    color: var(--white);
}

.banner__text {
    color: var(--gray);
    max-width: 327px;
    margin-top: 20px;
}

.banner__info {
    margin-top: 30px;
}

.banner__info img {
    margin-left: 10px;
}

.banner__info a {
    text-decoration: none;
    color: var(--white);
}

/* ====================== */

/* === partner === */
.partner {
    background-color: var(--gray-bg);
}

.partner__item {
    background-color: var(--white);
    padding: 50px 20px;
}

.partner__image {
    margin-bottom: 30px;
}

.partner__heading {
    margin-bottom: 5px;
}

.partner__text {
    text-align: center;
    color: var(--gray-t);
    margin-bottom: 30px;
}

.partner__info {

}

.partner__info a{
    text-decoration: none;
    color: var(--black);
    margin-right: 10px;
}
/* ====================== */

/* === footer === */
.footer {
    background-color: var(--black);
    color: var(--white);
}

.footer ul {
    margin-bottom: 50px;
}

.footer .logo__box {
    border-bottom: solid 1px #313135;
    margin: 0 var(--gutter);
}

.footer__logo {
    text-align: center;
    padding: 30px 0;  
}

.footer__heading {
    font-size: 14px;
    color: var(--white);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer__content {
    margin-top: 50px;
}

.footer__content a {
    text-decoration: none;
    color: var(--gray-t);
    max-width: 215px;
}

.footer__input {
    background-color: #262628;
    margin-top: 15px;
    margin-bottom: 70px;
}

.footer__items {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.footer__items .footer__item {
    padding: calc(15 / 2 * 1px) 0;
    color: var(--gray-t);
}

.footer__input form {
    display: flex;
    padding: 9px 10px 8px 10px;
    position: relative;
}

.footer__input input {
    background-color: #262628;
    color: var(--white);
    font-size: 14px;
    line-height: 1.71;
    border: none;
    flex: 1;
}

.footer__input input:focus {
    border: none;
}

.footer__input button {
    position: absolute;
    right: 10px;
    font-size: 14px;
    line-height: 1.71;
    background-color: #262628;
    color: var(--white);
    border: none;
}

.footer__input button:hover {
    cursor: pointer;
}

.social__items {
    margin-top: 30px;
    list-style: none;
    padding-left: 0px;
}

.social__item {
    padding-right: 25px;
}

.footer__bottom p {
    padding: 23px 0;
    color: var(--gray-t);
    text-align: center;
}

.footer__care {
    order: 2;
}

.footer__information {
    order: 3;
}

.footer__terms {
    order: 4;
}

.footer__social {
    order: 1;
}


/* ========================= */


/* === History === */


/* === brand === */
.brand {
    background-color: var(--gray-bg);
    width: 100%;
}
.brand__name{
    padding: 82px 0px;
    margin: 0px;
}
/* ======================= */


/* === video text === */
.video-text__img {
    max-width: 980px;
}

.video-text__heading {
    margin-top: 50px;
}

.video-text__text {
    max-width: 980px;
    padding: 0 var(--gutter);
    text-align: center;
    color: var(--gray-t);
    margin: 0;
}

.banner-history {
    height: 519px;
    background-image: url(../../assets/images/banner/banner3.png);
    background-position: top;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-history .banner__content {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))
}

.banner-history .heading-1{
    color: var(--white);
}

.banner-history p {
    margin-top: 15px;
    margin-bottom: 41px;
    color: var(--white);
}

/* === list text image === */
.list-text-image {
    background-color: var(--gray-bg);
}

.content__container h3 {
    margin-top: 30px;
}

.content__container h4 {
    margin-top: 25px;
}

.content__container p{
    max-width: 500px;
    color: var(--gray-t);
}
/* ====================================== */

/* === About Us === */
.section__title h2 {
    margin-bottom: 20px;
}

.section__title p {
    color: var(--gray-t);
    margin: 0px;
}

.dealer__lable,
.dealer__input,
.dearler__textarea {
    display: block;
    width: 100%;
}

.dearler__textarea {
    font-size: 1.4rem;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: initial;
}

.dealer form {
    margin-top: calc(50px - 20px - var(--gutter));
}

.dealer__lable {
    margin-bottom: 11px;
}

.dealer__input {
    margin-bottom: calc(40px - var(--gutter) * 2);
    border: solid 1px #ECECEC;
    background-color: var(--white);
    height: 60px;
    padding: 18px 20px;
}

.dearler__textarea {
    border: solid 1px #ECECEC;
    background-color: var(--white);
    margin-bottom: calc(40px - var(--gutter) * 2);
    padding: 18px 20px;
}

.dealer__checkbox {
    margin-bottom: calc(20px - var(--gutter) * 2);
}

.dealer__checkbox input {
    margin: 0;
    width: 24px;
    height: 24px;
    border: solid 1px #ECECEC;
    background-color: var(--white);
}

.dealer__checkbox p {
    margin: 0px;
    padding-left: 14px;
}

.dealer__btn {
    margin-top: calc(40px - (20px - var(--gutter) * 2) - var(--gutter));
    background-color: var(--black);
    color: var(--white);
}
/* ================================ */
/* === Contact === */

.contact__content {
    padding: 50px 0px;
    border: 1px solid #ECECEC;
}

.contact__content img {
    margin-bottom: 30px;
}

.contact__content h2 {
    margin-bottom: 5px;
}

.contact__time {
    margin-top: calc(40px - var(--gutter) * 2);
}

.contact__time h3{
    margin-bottom: 11px;
}

.contact__time p {
    margin: 0;
    padding-top: 5px;
}

/* === care product === */
.care-product {

}

.care-product__items {
    padding-top: calc(30px - var(--gutter));
}

.care-product__content {
    border: solid 1px #ECECEC;
    padding: 50px 40px 40px 55px;
}

.care-product__content p {
    color: var(--gray-t);
}

.care-product__item img {
    margin-bottom: 20px;
}

.care-product__item h3 {
    margin-bottom: 20px;
}

.banner-care-product {
    height: 600px;
    background-image: url(../../assets/images/slider/slider1.jpg);
    background-position: top;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-care-product .banner__content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.banner-care-product h2 {
    color: var(--white);
    margin-bottom: 27px;
}

.banner-care-product h3 {
    color: var(--white);
}
/* === product-care__text-image === */
.product-care__text-image .row {
    background-color: var(--gray-bg);
}

.product-care__text-image .col {
    padding: 0px;
}

.product-care__text-image .content__container {
    padding: 60px 30px;
}

.product-care__text-image p {
    margin-bottom: 70px;
}

/* === collection brand === */
.collection__banner {
    background-image: url(../../assets/images/slider/slider3.png);
    width: 100%;
    height: 37vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.collection__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.collection__content p {
    width: 176px;
    height: 48px;
    overflow: hidden;
}

.collection__name,
.collection__banner p {
    color: var(--white);
}

.collection__header {
    padding: calc(40px - var(--gutter)) 0px;
}


.collection__total {
    color: var(--gray-t);
    margin: 0px;
}

.collection__sort img{
    margin-left: 22px;
}

/* === collection list === */
.collection-product__items {
    display: grid;
    column-gap: calc(var(--gutter) * 2);
    grid-template-columns: repeat(2, 1fr);
    /* margin-inline: calc(-1 * var(--gutter)) */
}

.collection-product__item {
    padding-bottom: 40px;
}

.collection-product__content img {
    width: 100%;
}

/* === FAQ Tab === */
.tabs {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-inline: -20px;
}

.tabs::-webkit-scrollbar {
    height: 0px !important;
}

.tabs h2 {
    margin: 0;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #BABCC4;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--black);
    transition: all 0.2s ease;
}

.pd-inline {
    padding: 0 20px;
}

.tabs .tab-item{
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-item:hover {
    cursor: pointer;
    opacity: 1;
    background-color: var(--gray-bg);
    border-color: rgba(29, 7, 14, 0.1);
}
.tab-item.active h2{
    opacity: 1;
    color: var(--black);
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.accordion {
    padding-left: 0px;
    margin: 0;
}

.accordion li {
    list-style: none;
    border-bottom: 1px solid var(--gray-t);
}

.accordion li h3 {
    margin: 0px;
    padding: 20px 0;
}

.accordion .content {
    margin-top: 5px;
}

.accordion .content p{
    margin: 0;
    padding: 0px 0px 20px 0px !important;
}

.accordion .accordion-content__context {
    color: var(--gray-t);
    padding-bottom: 20px;
}

.accordion .accordion-content__heading {
    color: var(--black);
    padding: 20px 0px;
}

.accordion li label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-accordion {
    padding-right: calc(var(--gutter) * 2);
    width: 21px;
    height: 2px;
    margin-left: 36px;
    background-color: var(--black);
}

.icon-accordion::after{
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: var(--black);
    transform: rotate(90deg);
}

.accordion label + input[type="radio"] {
    display: none;
}

.accordion .content {
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.tab__footer a {
    text-decoration: none;
    color: var(--black);
}

.tab__footer a:hover {
    opacity: 80%;
}

.accordion label + input[type="radio"]:checked + .content {
    max-height: 500px;
}

.accordion label + input[type="radio"]:checked + .icon-accordion::after {
    transform: rotate(-90deg);
}

/* === breadcrumbs === */
.breadcrumb {
    padding-top: calc(40px - var(--gutter));
    padding-bottom: calc(40px - var(--gutter) * 2);
}
.breadcrumb ul{
    margin: 0;
}
.breadcrumb__items {
    padding-left: 0px;
    margin: calc(40px - var(--gutter) * 2);
}

.breadcrumb__item {
    list-style: none;
}

.breadcrumb__item a {
    text-decoration: none;
    color: #BABCC3;
}

.ellipse {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #9EA0A8;
}

.ellipse2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #46484F;
    margin-right: 10px;
}

.breadcrumb__item .ellipse {
    margin: 0 15px;
}

.breadcrumb__item.present a {
    color: #46484F;
}

/* product details */
.product-detail__images {
    margin-inline: calc(-1 * var(--gutter));
}

.product-detail__images .image__arrow {
    top: 50%;
    transform: translateY(-50%);
    padding-inline: calc(8px + var(--gutter));
}

.image__arrow button {
    border: none;
    background-color: transparent;
}

.image__arrow button:hover {
    cursor: pointer;
}

.product-detail__images--item {
    width: 25%;
    padding: var(--gutter);
}

.product-detail__content p{
    color: var(--gray-t)
}

.product-detail__name {
    margin-bottom: 10px;
}

.product-detail__price {
    color: #555562;
}

.product-detail__size {
    margin-top: 32px;
}

.product-detail__size p {
    color: var(--gray-t);
}

.product-detail__size p span {
    margin-right: 10px;
}

/* select-option */
#select {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 20px;
}

.select__input {
    width: 100%;
    height: 50px;
    border: solid 1px #ECECEC;
    padding: 0 18px;
    background-color: var(--white);
}

.select__input:focus {
    border: solid 1px #ECECEC;
}

.select__icon {
    position: absolute;
    right: 18px;
    top: calc(50% - 2px);
}

.select__items {
    position: absolute;
    top: calc(100% + 2px);
    padding-left: 0px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    margin: 0;
    display: none;
    z-index: 1;
}

.select__items--open {
    display: block;
} 

.select__item {
    list-style: none;
    line-height: 50px;
    padding: 0 18px;
}

.select__item:hover {
    background-color: var(--gray-bg);
    cursor: pointer;
}

.select-number {
    margin-top: 30px;
    width: 100%;
    position: relative;
}

.select-number__sum,
.select-number__sub {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

.select-number__sum {
    left: 0;
}

.select-number__sub {
    
    right: 0;
}

.btn-addtocart {
    margin-top: 15px;
}

.product-detail__btn {
    width: 100%;
    height: 50px;
    border: solid 1px #ECECEC;
}

.btn__love {
    padding: 0;
    width: calc(50px + var(--gutter) * 1);
    height: 50px;
    margin-left: 15px;
    border: solid 1px #ECECEC;
}

.product-detail__btn--buy {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    margin-top: 15px;
}

.product-detail__btn--register {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 7px 20px 7px 18px;
    background-color: var(--gray-bg);
}

.product-detail__content--context1 {
    margin: 0;
    padding-top: 30px;
}

.product-detail__content--heading {
    margin-top: 40px;
}

.product-detail__content--img {
    margin-top: 30px;
    width: 100%;
}

.product-info .tab__items {
    border-bottom: solid 1px #ECECEC
}

.product-info h2 {
    font-size: 16px;
    font-weight: 600;
    padding: 37px 0;
}

.tab-pane {
    margin-top: calc(50px - var(--gutter));
}

.product-info .tab__heading {
    padding: 0;
    margin-bottom: calc(35px - 7.5px);
}

.product-info .tab__content ul {
    padding: 0;
    margin: 0;
}

.product-info .tab__content  li {
    list-style: none;
    color: var(--gray-t);
    padding: calc(15px / 2) 0;
}

.product-info .tab__content img {
    width: 100%;
}

.tab-items {
    margin-inline: -20px;
}


/* === responsive === */
@media (min-width: 576px) {
    :root {
        --gutter: 10px;
    }
    .category .category__btn {
        bottom: 30px;
    }
}

@media (min-width: 768px) {
    .topbar__container {
        justify-content: center;
    }

    .heading-1 {
        font-size: 30px;
    }

    .heading-4 {
        font-size: 16px;   
    }

    .pd-section {
        padding: 100px 0;
    }

    .pd-section-2 {
        padding: calc(100px - var(--gutter)) 0;
    }
    .mg-t-container {
        margin-top: calc(45px - var(--gutter) * 2);
    }

    .pd-row {
        padding: 100px 0;
    }

    .header__main {
        height: 110px;
        padding: 0 50px;
    }

    .slider {
        height: calc(100vh - 160px);
    }

    .sliders img{
        height: calc(100vh - 160px);
    }

    .slider__arrow {
        padding: 0 50px;
    }

    .header__topbar {
        padding: 0 50px;
    }

    .text-image__content {
        padding: 133px 90px;
    }

    .footer__logo {
        padding: 40px 0;
    }

    .footer__content {
        margin: 70px 0px;
    }

    .footer__heading {
        margin-bottom: 30px;
    }

    .footer__bottom p {
        padding: 23px 0;
        color: var(--gray-t);
        text-align: center;
    }
    
    .footer__care {
        order: 1;
    }
    
    .footer__information {
        order: 2;
    }
    
    .footer__terms {
        order: 4;
    }
    
    .footer__social {
        order: 3;
    }

    .product__content {
        width: 100%;
    }

    .tab-pane .col img {
        padding-left: calc(100px - var(--gutter) * 2);
    }

    .breadcrumb {
        padding-top: calc(100px - var(--gutter));
        padding-bottom: calc(60px - var(--gutter));
    }
    
}

@media (min-width: 992px) {
    .slider__content {
        padding: 50px 0;
    }
      
    .slider__heading {
        margin-bottom: 20px;
    }

    .product__btn {
        padding: 12px 32px;
        margin-top: 20px;
    }

    .footer__care {
        order: 1;
    }
    
    .footer__information {
        order: 2;
    }
    
    .footer__terms {
        order: 3;
    }
    
    .footer__social {
        order: 4;
    }

    .dealer form {
        margin-top: calc(100px - 20px - var(--gutter));
    }

    .collection-product__items {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    .product-detail__content {
        padding-left: calc(100px - var(--gutter) * 2);
    }

    .product-detail__size {
        margin-top: 52px;
    }

    .product-detail__btn--register {
        display: block;
    }
}

@media (min-width: 1024px) {
    .col-xl {
        display: flex;
    }

    .menu__button {
        display: none;
    }


    .nav__items > li {
        line-height: 110px;
        padding: 0 10px;
    }

    .list-text-image .row:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .list-text-image .row:nth-child(even) .col-xl-7{
        padding-left: 90px;
    }

    .product-care__text-image .row {
        flex-direction: row-reverse;
    }

    .product-care__text-image .content__container {
        padding-inline: 90px;
    }

    .product-care__text-image button {
        margin-top: 85px;
    }

    .product-care__text-image img {
        height: 100%;
    }

    .collection__content h3{
        width: 327px;
        height: 48px;
    }

    .pd-t-30 {
        padding-top: calc(50px - var(--gutter) * 2);
    }

    .contact__time {
        margin-top: calc(80px - var(--gutter) * 2);
    }
    
    .accordion li h3{
        padding: 40px 0;
    }

    .collection-product {
        padding-bottom: 40px;
    }

    .collection__header {
        padding-top: calc(100px - var(--gutter));
        padding-bottom: calc(58px - var(--gutter));
    }

    .collection-product__item {
        padding-bottom: 60px;
    }
    .select-number {
        width: 150px;
    }

    .btn-add {
        display: flex;
        margin-top: 40px;
    }

    .product-detail__btn {
        margin-left: 15px;
    }

    .select-number {
        margin-top: 0px;
    }

    .btn-addtocart {
        margin-top: 0px;
    }

    .product-detail__name,
    .product-detail__price {
        font-size: 30px;
    }

    .tab-pane {
        margin-top: calc(80px - var(--gutter));
    }
}

@media (min-width: 1200px) {
    .text-image__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .product__items::-webkit-scrollbar {
        height: 0;
    }

    .nav__items > li {
        padding: 0 25px;
    }
}